---
import Layout from "../../layouts/Layout.astro";
import WorkRow from "../../components/Artwork/WorkRow.astro";

const works = await Astro.glob('../../content/work/*.md');

// Asegurarse de que cada trabajo tenga un slug
const worksWithSlugs = works.map(work => ({
  ...work,
  frontmatter: {
    ...work.frontmatter,
    title: work.frontmatter.title,
    description: work.frontmatter.description,
    pubDate: work.frontmatter.pubDate,
    slug: work.frontmatter.slug || work.file.split('/').pop()?.replace('.md', ''),
    image: work.frontmatter.image ? `/${work.frontmatter.image}` : undefined
  }
}));
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];
  timeline(sequence as TimelineDefinition);
</script>

<Layout title="Andres Mesa - Artwork" description="Creative coder">
  <main class="w-screen min-h-screen p-8">
    <div class="max-w-6xl mx-auto">
      <a href="../" class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-0 border-solid border-white rounded-none inline-block">
        Back
      </a>
      <h1 class="text-4xl font-bold mb-8 text-neutral-100">ARTWORK</h1>
      
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {worksWithSlugs.map((work) => (
          <WorkRow
            title={work.frontmatter.title}
            date={work.frontmatter.pubDate}
            url={work.frontmatter.slug}
            image={work.frontmatter.image}
            description={work.frontmatter.description}
          />
        ))}
      </ul>
    </div>
  </main>
</Layout>
