---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card/index.astro";

const works = await Astro.glob('/src/content/work/*.md');
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];
  timeline(sequence as TimelineDefinition);
</script>

<Layout title="Andres Mesa - Artwork" description="Creative coder">
  <main class="w-screen min-h-screen p-8">
    <div class="max-w-6xl mx-auto">
      <a href="../" class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-0 border-solid border-white rounded-none inline-block">
        Back
      </a>
      <h1 class="text-4xl font-bold mb-8 text-neutral-100">ARTWORK</h1>
      
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {works.map((work) => (
          <li class="w-full">
            <Card>
              <a href={`/artwork/${work.frontmatter.slug}`} class="block text-neutral-100 hover:text-neutral-400">
                <div class="flex flex-col gap-2">
                  <h3 class="font-bold m-0 pt-0 mb-0">{work.frontmatter.title}</h3>
                  <p class="my-0 font-light text-sm">{work.frontmatter.description}</p>
                  
                  {work.frontmatter.image && (
                    <img 
                      src={work.frontmatter.image}
                      alt={work.frontmatter.title}
                      class="w-full h-auto max-h-[300px] select-none md:w-auto md:max-h-[300px] md:relative md:opacity-100 pointer-events-none"
                    />
                  )}
                </div>
              </a>
            </Card>
          </li>
        ))}
      </ul>
    </div>
  </main>
</Layout>
