---
import { formatDate } from "../../lib/helpers";
import Card from "../Card/index.astro";

interface Props {
  title?: string;
  date?: Date;
  url: string;
}

const { title, date, url } = Astro.props;
const safeDate = date ?? new Date(0);
---

<li class="w-full text-neutral-100 hover:text-neutral-400 ease-in-out 
transition-colors border-b-neutral-400  my-2">
 <Card>
  <a
    class="text-sm md:text-base decoration-none flex justify-between"
    href={`/blog/${url}`}
  >
    <p class="inline-block whitespace-nowrap">
      {title}
    </p>
    <time
      class="text-right tabular-nums"
      datetime={safeDate.toISOString()} 
      data-date={safeDate.toISOString()}
    >
      {formatDate(safeDate)}
    </time>
  </a>
</Card>
</li>
